.heading-container {
    margin: 10px;

    .page-heading {
        font-weight: bold;
    }
    
    .heading-description {
        margin-left: 3px;
        white-space: pre-line;
        color: #808080;
    }
}

.btn-container{
    position: absolute;
    margin-left: 10px;
    z-index: 1;
}

.select-container {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 200px;
    z-index: 1;
    background-color: #fff;
}

.chart {
    margin-top: 10px;
    height: 88vh;
}