.heading-container {
    margin: 10px;

    .page-heading {
        font-weight: bold;
    }
    
    .heading-description {
        margin-left: 3px;
        white-space: pre-line;
        color: #808080;
    }
}

.btn-select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

    .select-container {
        display: flex;
        align-items: center;
        margin-left: auto;
        
        span{
            width: 120px; 
        }
    }
}

.chart {
    margin-top: 5px;
    height: 80vh;
}